// VARIABLES
// =========
@serif: "Georgia", Times, serif;
@sanSerif: "Tahoma", Arial, san-serif;
@defaultFontSize: 16px;
@gray: #CDCDCD;
@border: 2px @gray solid;
@red: #942928;
@gold: #BD9F2F;

// FOR DEBUG ONLY
.pizza {
    // Only for clarity while I prototype. Not needed after in theory
    margin: 20px;
}

// SCAFFOLDING
// ===========

.app-container {
    width: 333px;
    height: 383px; //343px, 408px
    border: @border;
    margin-bottom: 19px;
}

#wrapper {
    width: 333px;
    height: 302px;
    overflow: auto;
    position: relative; // IE fix
}

.page-header {

    border-bottom: @border;
    padding-bottom: 5px;
    width: 333px;

    h1 {
        font-family: @serif;
        margin: 5px 0px -4px 18px;
        color: @red;
        font-weight: bold;
    }

    small#subhed {
        font-family: @sanSerif;
        font-size: (@defaultFontSize - 1);
        padding-bottom: 15px;
        margin: 5px 0px -13px 18px;
        display: block;
    }

}

// LIST
// ====

ul#showList {
    margin-top: 10px;
    margin-left: 0px; // LAT override
    list-style-position: outside; // LAT override

    li {
        border-bottom: @border;
        overflow-x: hidden; // Windows fix

    }

    :first-child {
        margin-top: -6px;
    }

    :last-child {
        border-bottom: 0px;
    }

    .listContent {
        margin: 15px;
        display: inline-block;
    }
}

.waffles {
    margin-top: 5px;

    #contentWrapper {
        background-color: lighten(@gold, 22%);
        display: inline-block;
        margin: 5px;
        border-radius: 2px;
        width: 307px;
        .listContent {
            margin-left: 12px;
        }
    }
}