/* FOR DEBUG ONLY
.pizza {
    // Only for clarity while I prototype. Not needed after in theory
    margin: 20px;
}
*/
.app-container {
  width: 333px;
  height: 367px;
  border: 2px #cdcdcd solid;
  margin-bottom: 19px;
}
#wrapper {
  width: 333px;
  height: 302px;
  overflow: auto;
  position: relative;
}
.page-header {
  border-bottom: 2px #cdcdcd solid;
  padding-bottom: 5px;
  width: 333px;
}
.page-header h1 {
  font-family: "Georgia", Times, serif;
  margin: 5px 0px -4px 18px;
  color: #942928;
  font-weight: bold;
}
.page-header small#subhed {
  font-family: "Tahoma", Arial, san-serif;
  font-size: 15px;
  padding-bottom: 15px;
  margin: 5px 0px -13px 18px;
  display: block;
}
ul#showList {
  margin-top: 10px;
  margin-left: 0px;
  list-style-position: outside;
}
ul#showList li {
  border-bottom: 2px #cdcdcd solid;
  overflow-x: hidden;
}
ul#showList :first-child {
  margin-top: -6px;
}
ul#showList :last-child {
  border-bottom: 0px;
}
ul#showList .listContent {
  margin: 15px;
  display: inline-block;
}
.important {
  margin-top: 5px;
}
.important #contentWrapper {
  background-color: #dfca7d;
  display: inline-block;
  margin: 5px;
  border-radius: 2px;
  width: 307px;
}
.important #contentWrapper .listContent {
  margin-left: 12px;
}
.important #contentWrapper .listContent a {
  font-weight: bold;
}
